<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
<rewrite>
    <rules>
        <rule name="Remove trailing slash" stopProcessing="true">
            <match url="^(.*)/$" ignoreCase="false" />
            <conditions>
                <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
            </conditions>
            <action type="Redirect" redirectType="Permanent" url="/{R:1}" />
        </rule>

        <rule name="Laravel Clean URLs" stopProcessing="true">
            <match url="^(.*)$" />
            <conditions>
                <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
            </conditions>
            <action type="Rewrite" url="index.php/{R:1}" />
        </rule>
    </rules>
</rewrite>

        <defaultDocument>
            <files>
                <clear />
                <add value="index.php" />
            </files>
        </defaultDocument>
        <security>
            <requestFiltering>
                <verbs allowUnlisted="true" />
                <fileExtensions allowUnlisted="true" />
            </requestFiltering>
        </security>
        <handlers>
            <clear />
            <add name="PHP_via_FastCGI" path="*.php" verb="*" modules="CgiModule" scriptProcessor="C:\xampp\php\php-cgi.exe" resourceType="File" requireAccess="Script" />
            <add name="StaticFile" path="*" verb="*" modules="StaticFileModule,DefaultDocumentModule,DirectoryListingModule" resourceType="Either" requireAccess="Read" />
        </handlers>
    </system.webServer>
</configuration> 